.content{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(4, 150px);
    gap: 5px;
}
div{
    background: cadetblue;
    text-align: center;
    padding: 30px;
}
div:nth-of-type(odd) {
    background: burlywood;
}
.one {
    grid-column: 1 / 3;
}
.two {
    grid-column: 3 / 7;
}
.three {
    grid-column: 1 /4;
    grid-row: 2 /4;
}
.four {
    grid-column: 4 / 7;
    grid-row: 2 /4;
}
.five {
    grid-column: 3/ 7;
}